{include file="head" /}

{include file="menu" /}

   <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-8">
                      <!--widget start-->
                      <aside class="profile-nav alt green-border">
                          <section class="panel">
                              <div class="user-heading alt green-bg">
                                  <a href="#">
                                      <img alt="" src="{$portrait}">
                                  </a>
                                  <h1>Tên đăng nhập：{$nickname}</h1>
                                  <p>Tên đăng nhập: {$username}</p>
                                  <p>Số dư：{if isset($usermoney)}{$usermoney}{else/}0{/if}</p>
                              </div>

                              <div class="panel-body bio-graph-info">
                              
                              <div class="form-horizontal">
                                  
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Mã Lệnh：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$orderno}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Sản phẩm：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$ptitle}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Trạng thái Lệnh：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{if $ostaus == 1}Đóng cửa{else/}Mở cửa{/if}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Giá mua vào：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$buyprice}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Giá đóng cửa：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$sellprice}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Số tiền mua vào：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$fee}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Thời gian mua vào：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$buytime|date="Y-m-d H:i:s",###}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Thời gian đóng cửa：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$selltime|date="Y-m-d H:i:s",###}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Lãi/lỗ Lệnh：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$ploss}</p>
                                      </div>
                                  </div>
                                 

                                  
                              </div>
                          </div>

                          </section>
                      </aside>
                      <!--widget end-->
                      
                  </div>
                 </div> 
              
                 
              
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>



</script>