{include file="head" /}

{include file="menu" /}

<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <br>
             <div class="row">
                  <div class="col-lg-8">
                      <section class="panel">
                          <header class="panel-heading">
                              <h4 class="left">Danh sách sản phẩm</h4>
                              <a href="{:url('goods/proadd')}"><button type="button" class="btn btn-primary right">Thêm sản phẩm</button></a>
                              <br><br>
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th>
                                    Sắp xếp
                                </th>
                                <th>
                                    Số thứ tự
                                </th>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Trạng thái（Trong giờ mở cửa của thị trường）
                                </th>
                                <th>
                                    Danh mục
                                </th>
                                <th>
                                    Giá trị ngẫu nhiên
                                </th>
                                <th>
                                    Giá trị tối thiểu kiểm soát rủi ro
                                </th>
                                <th>
                                    Giá trị tối đa kiểm soát rủi ro
                                </th>
                                <th>
                                    Thao tác
                                </th>

                            </tr>
                          </thead>
                           <form action="proorder" method="post">
                          <tbody>
                         
                          <!-- {volist name="proinfo" id="vo"} -->
                              <tr>
                                  <td><input style="width: 50px;" type="text" name="proorder[{$vo.pid}]" value="{$vo.proorder}"></td>
                                  <td>{$vo.pid}</td>
                                  <td>{$vo.ptitle}</td>
                                  <td>{if $vo.isopen == 1} Mở cửa {else /} Đóng cửa {/if}</td>
                                  <td>{$vo.pcname}</td>
                                  <td>{$vo.rands}</td>
                                  <td>{$vo.point_low}</td>
                                  <td>{$vo.point_top}</td>
                                  <td>
                                  {if $vo.isopen == 1}
                                    <a class="btn btn-danger btn-xs" onclick="isopen(0,{$vo.pid})">Nhấp để tạm dừng</a>
                                  {else /}
                                  	<a class="btn btn-success btn-xs" onclick="isopen(1,{$vo.pid})">Nhấp để mở lại</a>
                                  {/if}
                                      <a class="btn btn-primary btn-xs" href="{:url('goods/proadd',array('pid'=>$vo['pid']))}" title="Nhấp để chỉnh sửa"><i class="icon-pencil"></i></a>
                                      <a class="btn btn-danger btn-xs" onclick="deleteinfo('{$vo.pid}')" title="Nhấp để xóa"><i class="icon-trash"></i></a>
                                  </td>
                              </tr>
							<!-- {/volist} -->


                             
                              
                              
                              </tbody>
                          </table>

                      </section>
                          <button type="submit" class="btn btn-primary left">Sắp xếp</button>
                            </form>
                  </div>
              </div>
              
             

          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>
/**
 * 开、休市控制器
 * @author lukui  2017-02-15
 * @param  {[type]} data [description]
 * @param  {[type]} pid  [description]
 * @return {[type]}      [description]
 */
function isopen(data,pid){
	var formurl = "{:Url('goods/proisopen')}"
    var data = "isopen="+data+"&pid="+pid;
    var locurl = "{:Url('lord/goods/prolist')}";

    WPpost(formurl,data,locurl);
    return false;
}

//delete info
	function deleteinfo(id){
		layer.open({
		  content: 'Chắc chắn muốn xóa ?',
		  yes: function(index){
		    //do something
		    var url = "{:url('goods/delpro')}"+"?id="+id;
		    var locurl = "{:Url('lord/goods/prolist')}"
		    WPget(url,locurl);
		  }
		});
	}



</script>