{include file="head" /}

{include file="menu" /}

<!--main content start-->
      <section id="main-content">

          
      <section class="wrapper">
      <div class="col-sm-8">
          <aside class="profile-info col-lg-12">
          <section class="panel">
              <hr>
              <div class="panel-body bio-graph-info">
                  <form class="form-horizontal" role="form" action="" method="post" id="formid">
            
                      <div class="form-group">
                          <label class="col-lg-3 control-label">Xác định khách hàng thua lỗ：</label>
                          <div class="col-lg-8">
                                
                                <input type="text" class="form-control" name="to_loss" placeholder="Vui lòng nhập ID khách hàng" value="{$to_loss?$to_loss:''}">
                                <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                       <strong>Chú thích: </strong> Đặt ID thành viên ở đây (Ví dụ: 8888), nếu có nhiều thành viên hãy sử dụng dấu | để phân tách (Ví dụ: 8888|9999). Sau khi thiết lập, tất cả Lệnh của thành viên này sẽ bị thua lỗ, hãy cẩn thận khi thực hiện. Để tắt chức năng này, hãy để trống hoặc nhập 0 ở trên và gửi đi.
                                  </div>
                          </div>
                          <label class="col-lg-3 control-label"></label>
                      </div>

                      <div class="form-group">
                          <label class="col-lg-3 control-label">Xác định khách hàng thắng lợi：</label>
                          <div class="col-lg-8">
                                <input type="text" class="form-control"  placeholder="Vui lòng nhập ID khách hàng" value="{$to_win?$to_win:''}" name="to_win">
                                <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                       <strong>Chú thích: </strong> Đặt ID thành viên ở đây (Ví dụ: 8888), nếu có nhiều thành viên hãy sử dụng dấu | để phân tách (Ví dụ: 8888|9999). Sau khi thiết lập, tất cả Lệnh của thành viên này sẽ thắng lợi, hãy cẩn thận khi thực hiện. Để tắt chức năng này, hãy để trống hoặc nhập 0 ở trên và gửi đi.
                                  </div>
                          </div>
                          <label class="col-lg-3 control-label"></label>
                      </div>

                      <div class="form-group">
                          <label class="col-lg-3 control-label">Giá trị kiểm soát tối thiểu：</label>
                          <div class="col-lg-8">
                                <input type="text" class="form-control" name="min_price" placeholder="Vui lòng nhập Giá trị kiểm soát tối thiểu" value="{$min_price?$min_price:''}">
                                <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                       <strong>Chú thích: </strong> Lệnh đạt đến số tiền này sẽ chịu ảnh hưởng của kiểm soát bên dưới.
                                  </div>
                          </div>
                          <label class="col-lg-3 control-label"></label>
                      </div>

                      <div class="form-group">
                          <label class="col-lg-3 control-label">Xác suất kiểm soát：</label>
                          <div class="col-lg-8">
                                <textarea name="chance"  class="form-control" cols="30" rows="10">{$chance?$chance:''}</textarea>
                                <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                       <strong>Chú thích: </strong> Nhập khoảng số tiền, trong khoảng số tiền này sẽ áp dụng xác suất lãi lỗ. Không nằm trong khoảng này sẽ không bị ảnh hưởng kiểm soát<br>
                                       <strong>Định dạng: </strong> Bắt đầu khoảng - Kết thúc khoảng: xác suất thắng lợi của khách hàng | Dấu phân cách phải là ký tự tiếng Anh, Ví dụ: 0-100:50|100-200:30
                                  </div>
                          </div>
                          <label class="col-lg-3 control-label"></label>
                      </div>
                      
                      <input type="hidden" name="id" value="{$id?$id:''}">
                      
                                
                                  
                      <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                              <input type="submit" class="btn btn-success" onclick="return editrisk(this.form)" value="Gửi">
                          </div>
                      </div>
                  </form>
              </div>
          </section>
          
      </aside>
      </div>

      </section>




      



      <!--main content end-->
  </section>

{include file="foot" /}
<script>

function editrisk(form) {
  
  var formurl = "{:Url('goods/addrisk')}"
    var data = $('#formid').serialize();
    var locurl = "{:Url('goods/risk')}";
    WPpost(formurl,data,locurl);
    return false;
}


</script>