{include file="head" /}
{include file="menu" /}

<section id="main-content">
  <section class="wrapper">
    <div class="row state-overview">
      <div class="container">
        <form id="formid" action="{:url('user/userlist')}" method="post" onsubmit="return editcon(this)">
          <div class="row">
            <!-- Username -->
            <div class="col-lg-4 mar-10">
              <div class="input-group">
                <span class="input-group-addon">Username</span>
                <input type="text" value="" placeholder="Nhập username" name="username" id="username" class="form-control">
              </div>
            </div>

            <!-- Nút kiểm tra -->
            <div class="col-lg-2 mar-10">
              <button type="button" class="btn btn-primary" id="btnCheck" onclick="return checkUser();">
                Kiểm tra
              </button>
            </div>

            <!-- Thông tin user sau khi kiểm tra -->
            <div class="col-lg-6 mar-10" id="userInfoBox" style="display:none;">
              <div class="panel panel-default" style="margin-bottom:0;">
                <div class="panel-heading">Thông tin người dùng</div>
                <div class="panel-body" id="userInfo">
                  <!-- sẽ đổ dữ liệu ở JS -->
                </div>
              </div>
            </div>

            <!-- Ẩn sẵn uid để submit -->
            <input type="hidden" name="uid" id="uid">

            <!-- Số tiền nạp (ẩn mặc định) -->
            <div class="col-lg-5 mar-10" id="amountGroup" style="display:none;">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Số tiền nạp</span>
                <input type="text" value="" class="form-control" name="bpprice" id="bpprice" placeholder="Nhập số tiền nạp"/>
              </div>
            </div>

            <!-- Nút gửi (ẩn mặc định) -->
            <div class="mar-10" id="submitGroup" style="display:none;">
              <input type="submit" class="btn btn-success" value="Xác nhận">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>

{include file="foot" /}
<script>
  // Gọi API kiểm tra username
  function checkUser() {
    var username = $.trim($('#username').val());
    if (!username) {
      layer.msg('Vui lòng nhập username');
      return false;
    }

    var url = "{:Url('user/findUserByUsername')}";
    $.post(url, {username: username}, function(res) {
      // Chuẩn: trả JSON {code:1| -1, data:{uid,username,usermoney...}, msg:'...'}
      if (res && res.code == 1 && res.data) {
        // Đổ thông tin
        $('#uid').val(res.data.uid);
        var html = ''
          + '<p><strong>UID:</strong> ' + res.data.uid + '</p>'
          + '<p><strong>Username:</strong> ' + res.data.username + '</p>'
          + '<p><strong>Số dư hiện tại:</strong> ' + (res.data.usermoney || 0) + '</p>';
        $('#userInfo').html(html);

        // Hiển thị box thông tin + amount + submit
        $('#userInfoBox').show();
        $('#amountGroup').show();
        $('#submitGroup').show();

        // Focus vào ô số tiền
        $('#bpprice').focus();
      } else {
        // Không thấy user
        $('#userInfoBox').hide();
        $('#amountGroup').hide();
        $('#submitGroup').hide();
        $('#uid').val('');
        layer.msg(res && res.msg ? res.msg : 'Không tìm thấy người dùng');
      }
    }, 'json').fail(function() {
      layer.msg('Không thể kết nối máy chủ');
    });

    return false;
  }

  // Validate trước khi submit nạp tiền
  function editcon(form) {
    var uid = $('#uid').val();
    var bpprice = $.trim($('#bpprice').val());

    if (!uid) { layer.msg('Vui lòng kiểm tra username trước'); return false; }
    if (!bpprice) { layer.msg('Vui lòng nhập Số tiền nạp'); return false; }
    if (isNaN(bpprice)) { layer.msg('Số tiền nạp phải là số'); return false; }

    var formurl = "{:Url('user/addprice')}";
    var data = $('#formid').serialize();
    var locurl = "{:Url('user/userprice')}";

    WPpost(formurl, data, locurl);
    return false;
  }
</script>
