{include file="head" /}

{include file="menu" /}


<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              
              <div class="row state-overview">
                <div class="container">
				        <form action="{:url('user/userlist')}" method="get">
                <div class="row">
                     <div class="col-lg-3 mar-10">
                      <div class="input-group">
                              <span class="input-group-addon">Loại</span>
                              <select name="otype" class="selectpicker show-tick form-control">
                                  <option value="">Không chọn mặc định</option>
                                  <option {if isset($getdata['otype']) && $getdata['otype'] === 0} selected="selected" {/if} value="0">Lợi nhuận</option>
                                  <option {if isset($getdata['otype']) && $getdata['otype'] == 101} selected="selected" {/if} value="101">Đại lý</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-5 mar-10">

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Tên đăng nhập</span>
                            <input type="text"  value="{$getdata['username']?$getdata['username']:''}"  class="form-control" name="username" placeholder="Tên đăng nhập/Số điện thoại/Số thứ tự"/>
                        </div>
                      </div>
                      
                      <div class="col-lg-5 mar-10">

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Số điện thoại</span>
                            <input type="text"  value="{$getdata['utel']?$getdata['utel']:''}"  class="form-control" name="utel" placeholder="Số điện thoại"/>
                        </div>
                      </div>

                      
                  <div class="mar-10">
                   <input type="submit" class="btn btn-success" value="Tìm kiếm">
                  </div>
                </div>
                </form>
              </div>
              </div>
              <!--state overview end-->
              <br>
            <a href="{:url('user/userlist')}"><button type="submit" class="btn btn-primary">Tất cả người dùng</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userlist',array('otype'=>0))}"><button type="submit" class="btn btn-success">Tất cả lợi nhuận</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userlist',array('otype'=>101))}"><button type="submit" class="btn btn-success">Tất cả đại lý</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userlist',array('today'=>1,'otype'=>0))}"><button type="submit" class="btn btn-success">Lợi nhuận hôm nay</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userlist',array('today'=>1,'otype'=>101))}"><button type="submit" class="btn btn-success">Đại lý hôm nay</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="{:url('user/useradd')}"><button type="submit" class="btn btn-danger">Thêm khách hàng+</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/vipuseradd')}"><button type="submit" class="btn btn-danger">Thêm đại lý+</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
             <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Danh sách người dùng
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th>ID người dùng</th>
                                <th>Thông tin khách hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày tạo</th>
                                <th>Đăng nhập gần nhất</th>
                                <th>Số Lệnh</th>
                                <th>Số dư tài khoản</th>
                                <th>Quyền hạn</th>
                                <th>Thưởng</th>
                                <th>Hoa hồng</th>
                                <th>Đại lý</th>
                                {if $otype == 3}
                                <th>Thao tác</th>
                                {/if}
                            </tr>
                          </thead>
                          <tbody>
                          <!-- {volist name="userinfo" id="vo"} -->
                              <tr>
                                  <td>{$vo.uid}</td>
                                  <td>{$vo.username}【{$vo.utel}】</td>
                                  <td>{$vo.nickname}</td>
                                  <td>{$vo.utime|date="Y-m-d H:i:s",###}</td>
                                  <td>{$vo.logintime|date="Y-m-d H:i:s",###}</td>
                                  <td>{:ordernum($vo['uid'])}</td>
                                  <td class="color_red">${$vo.usermoney?$vo.usermoney:'0'}</td>
                                  <td>{if $vo.otype == 0}Khách hàng{elseif $vo.otype == 101}Đại lý{/if}</td>
                                  <td>{$vo.rebate?$vo.rebate:'0'}%</td>
                                  <td>{$vo.feerebate?$vo.feerebate:'0'}%</td>
                                  <td><a href="{:url('userlist',array('oid'=>$vo['oid']))}">{:getuser($vo['oid'],"username")}</a></td>
                                  
                                  <td>
                                      {if $vo.ustatus == 0}
                                      <a href="javascript:;" onclick="doustatus(1,{$vo.uid})"> <button class="btn btn-danger btn-xs">Khóa</button> </a>
                                      {else/}
                                      <a href="javascript:;" onclick="doustatus(0,{$vo.uid})"> <button class="btn btn-primary btn-xs">Mở khóa</button> </a>
                                      {/if}

                                      {if $vo.otype == 101}
                                      
                                      <a href="{:url('userlist',array('oid'=>$vo['uid']))}"> <button class="btn btn-primary btn-xs"> Khách hàng cấp dưới </button> </a>
                                      <a href="{:url('vipuserlist',array('oid'=>$vo['uid']))}"> <button class="btn btn-primary btn-xs"> Đại lý cấp dưới </button> </a>
                                      <a href="{:url('yeji',array('uid'=>$vo['uid']))}"> <button class="btn btn-primary btn-xs">Hiệu suất</button> </a>

                                      {if $_SESSION['otype'] == 3}
                                      <a href="{:url('user/vipuseredit',array('uid'=>$vo['uid']))}"><button class="btn btn-danger btn-xs"><i class="icon-pencil"> Chỉnh sửa</i></button></a>
                                      <a href="javascript:;" onclick="deleteuser({$vo.uid})" ><button class="btn btn-danger btn-xs"><i class="icon-pencil"> Xóa</i></button></a> 
                                      {/if}

                                      {/if}
                                      {if $vo.otype == 0}

                                      <a href="javascript:;" onclick="dootype(101,{$vo.uid})"><button class="btn btn-success btn-xs">Trở thành Đại lý</button></a>

                                      {if $_SESSION['otype'] == 3}
                                      <a href="{:url('user/useredit',array('uid'=>$vo['uid']))}"><button class="btn btn-danger btn-xs"><i class="icon-pencil"> Chỉnh sửa</i></button></a>
                                      <a href="javascript:;" onclick="deleteuser({$vo.uid})" ><button class="btn btn-danger btn-xs"><i class="icon-pencil"> Xóa</i></button></a> 
                                      {/if}
                                      {/if}

                                      <a href="{:url('user/userbank',array('uid'=>$vo['uid']))}"><button class="btn btn-primary btn-xs">Ký hợp đồng</button></a>

                                       <a href="{:url('price/pricelist')}?username={$vo.username}"><button class="btn btn-primary btn-xs">Báo cáo về dòng tiền</button></a>

                                      

                                  </td>
                                  
                              </tr>
							<!-- {/volist} -->
                              
                              
                              
                              </tbody>
                          </table>
                      </section>
                  </div>
              </div>
              
             {$page}

          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>

function doustatus(type,uid) {
  
  if(type == 1){
    var con = 'Bạn có chắc chắn muốn khóa tài khoản này?';
  }else if(type == 0){
    var con = 'Bạn có chắc chắn muốn mở khóa tài khoản này?';
  }else{
    layer.msg('Tham số không hợp lệ！');
    return false;
  }

  if(!uid){
    layer.msg('Tham số không hợp lệ！');
    return false;
  }

  layer.open({
    content: con,
    yes: function(index){
      //do something
      var formurl = "{:Url('user/doustatus')}";
      var data = 'uid='+uid+'&ustatus='+type;

      $.post(formurl,data,function(resdata){
        layer.msg(resdata.data);
        if(resdata.type == 1){
          history.go(0);
        }
      })

      
    }
  });
}

function dootype(type,uid) {
  
  if(type == 101){
    var con = 'Bạn có chắc chắn muốn chuyển thành đại lý?';
  }else{
    layer.msg('Tham số không hợp lệ！');
    return false;
  }

  if(!uid){
    layer.msg('Tham số không hợp lệ！');
    return false;
  }

  layer.open({
    content: con,
    yes: function(index){
      //do something
      var formurl = "{:Url('user/dootype')}";
      var data = 'uid='+uid+'&otype='+type;

      $.post(formurl,data,function(resdata){
        layer.msg(resdata.data);
        if(resdata.type == 1){
          history.go(0);
        }
      })

      
    }
  });
}


function deleteuser (uid) {
  
  layer.open({
    content: 'Bạn chắc chắn muốn xóa? Hành động này không thể khôi phục lại, vui lòng cân nhắc thật kỹ!',
    yes: function(index){
      //do something
      var formurl = "{:Url('user/deleteuser')}";
      var data = 'uid='+uid;

      $.post(formurl,data,function(resdata){
        layer.msg(resdata.data);
        if(resdata.type == 1){
          history.go(0);
        }
      })

      
    }
  });


}


</script>