[[[<!--sidebar start-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!--Menu sidebar start-->
        <ul class="sidebar-menu">
            <li {if $actionname == 'index' && $contrname == 'Index' } class="active" {/if}>
                <a class="" href="{:Url('lord/index/index')}">
                    <i class="icon-dashboard"></i>
                    <span>Trang chủ quản trị</span>
                </a>
            </li>
            <!--
            <li {if $contrname == 'Index' && (in_array($actionname,array('contentclass','contentlist','contentadd')))} class="active" {else /} class="sub-menu " {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>Quản lý nội dung</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li {if $actionname == 'contentclass' } class="active" {/if}><a href="{:Url('lord/index/contentclass')}">Quản lý danh mục</a></li>
                    <li {if $actionname == 'contentlist' || $actionname == 'contentadd' } class="active" {/if}><a class="" href="{:Url('lord/index/contentlist')}">Quản lý bài viết</a></li>

                </ul>
            </li>
            -->

            {if $otype == 3}
            <li {if $contrname == 'Goods'} class="active" {else /} class="sub-menu " {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-btc"></i>
                    <span>Quản lý sản phẩm</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li {if $actionname == 'proscale' } class="active" {/if}><a href="{:Url('lord/system/proscale')}">Tỷ lệ lời lỗ hệ thống</a></li>
                    <li {if $actionname == 'prolist' || $actionname == 'proadd' } class="active" {/if}><a href="{:Url('lord/goods/prolist')}">Danh sách sản phẩm</a></li>
                    <li {if $actionname == 'proclass' } class="active" {/if}><a href="{:Url('lord/goods/proclass')}">Danh mục sản phẩm</a></li>
                    <li {if $actionname == 'risk' } class="active" {/if}><a href="{:Url('lord/goods/risk')}">Quản lý rủi ro</a></li>
                    <li {if $actionname == 'huishou' } class="active" {/if}><a href="{:Url('lord/goods/huishou')}">Thùng rác sản phẩm</a></li>


                </ul>
            </li>
            {/if}
            <li {if $contrname == 'Order'} class="active" {else /} class="sub-menu " {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-paste"></i>
                    <span>Quản lý Lệnh</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li {if $actionname == 'orderlist' } class="active" {/if}><a class="" href="{:Url('lord/order/orderlist')}">Ghi chép giao dịch</a></li>
                    <li {if $actionname == 'orderlog' } class="active" {/if}><a class="" href="{:Url('lord/order/orderlog')}">Nhật ký bán</a></li>


                </ul>
            </li>

            <li {if $contrname == 'User' && (in_array($actionname,array('userlist','useradd','userprice','userinfo','cash','myteam','chongzhi')))} class="active" {else /} class="sub-menu " {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-user"></i>
                    <span>Quản lý người dùng</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li {if in_array($actionname,array('userlist','useradd')) } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/userlist')}">Danh sách khách hàng</a></li>

                    <li {if in_array($actionname,array('myteam')) } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/myteam')}">Nhóm của tôi</a></li>
                    <li {if $actionname == 'userprice' } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/userprice')}">Danh sách nạp tiền</a></li>
                    {if $otype == 3}


                   <!-- <li {if $actionname == 'RechargeRecord' } class="active" {/if}>
                   <a class="" href="{:Url('lord/user/rechargeRecord')}">Ghi chép nạp tiền</a></li> -->
                    {/if}
                    <li {if $actionname == 'cash' } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/cash')}">Danh sách rút tiền</a></li>
                    {if $otype == 3}
                    <li {if $actionname == 'chongzhi' } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/chongzhi')}">Nạp tiền thành viên</a></li>
                    {/if}
                    <!-- <li {if $actionname == 'userinfo' } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/userinfo')}">Xét duyệt thông tin</a></li> -->


                </ul>
            </li>
<!-- 
            <li {if $contrname == 'User' && (in_array($actionname,array('vipuseradd','vipuserlist','usercode')))} class="active" {else /} class="sub-menu " {/if}>
                <a class="" href="javascript:;">
                    <i class="icon-user-md"></i>
                    <span>Quản lý đại lý </span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li {if $actionname == 'vipuseradd' } class="active" {/if}>
                    <a class="" href="{:Url('lord/user/vipuseradd')}">Thêm đại lý</a></li>

                    <li {if in_array($actionname,array('vipuserlist','usercode'))} class="active" {/if}>
                    <a class="" href="{:Url('lord/user/vipuserlist')}">Danh sách đại lý</a></li>


                </ul>
            </li>
             -->
             
            <li {if $contrname == 'Project'} class="active" {else /} class="sub-menu " {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>Quản lý đầu tư</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">


                    <li {if $actionname == 'projectlist' } class="active" {/if}>
                    <a class="" href="{:Url('lord/project/projectlist')}">Danh sách dự án</a></li>

                    <li {if $actionname == 'investmentlist' } class="active" {/if}>
                    <a class="" href="{:Url('lord/project/investmentlist')}">Danh sách đầu tư</a></li>
                    
                    <li {if $actionname == 'logs' } class="active" {/if}>
                    <a class="" href="{:Url('lord/project/logs')}">Lịch sử trả lãi</a></li>

                </ul>
            </li>
            
            <li {if $contrname == 'Price'} class="active" {else /} class="sub-menu " {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-yen"></i>
                    <span>Quản lý báo cáo</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">


                    <li {if $actionname == 'allot' } class="active" {/if}>
                    <a class="" href="{:Url('lord/price/allot')}">Báo cáo thưởng</a></li>

                    <li {if $actionname == 'yongjin' } class="active" {/if}>
                    <a class="" href="{:Url('lord/price/yongjin')}">Báo cáo hoa hồng</a></li>

                    <li {if $actionname == 'pricelist' } class="active" {/if}>
                    <a class="" href="{:Url('lord/price/pricelist')}">Báo cáo tiền</a></li>

                    <li {if $actionname == 'myprice' } class="active" {/if}>
                    <a class="" href="{:Url('lord/price/myprice')}">Báo cáo cá nhân</a></li>

                </ul>
            </li>

            {if $otype == 3}
            <li {if $contrname == 'Setup' } class="active" {else /} class="sub-menu" {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-paste"></i>
                    <span>Cài đặt thông số</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">

                    <li {if $contrname == 'Setup' && $actionname == 'index'} class="active" {/if} >
                    <a class="" href="{:Url('lord/Setup/index')}">Cài đặt cơ bản</a>
                    </li>

                    <li {if $contrname == 'Setup' && $actionname == 'proportion'} class="active" {/if} >
                    <a class="" href="{:Url('lord/Setup/proportion')}">Cài đặt thông số</a>
                    </li>
                    <li  {if $contrname == 'Setup' && $actionname == 'addsetup'} class="active" {/if} >
                    <a class="" href="{:Url('lord/Setup/addsetup')}">Thêm cấu hình</a>
                    </li>
                    <!--<li  {if $contrname == 'Setup' && $actionname == 'deploy'} class="active" {/if} >
                    <a class="" href="{:Url('lord/Setup/deploy')}">Quản lý cấu hình</a>
                    </li>-->
                </ul>
            </li>


            <li {if $contrname == 'System' } class="active" {else /} class="sub-menu" {/if}>
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>Cài đặt hệ thống</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li {if $actionname == 'adminadd' } class="active" {/if}><a class="" href="{:Url('lord/system/adminadd')}">Thêm quản trị viên</a></li>
                    <li {if $actionname == 'adminlist' } class="active" {/if}><a class="" href="{:Url('lord/system/adminlist')}">Danh sách quản trị viên</a></li>
                    <!--<li {if $actionname == 'banks' } class="active" {/if}><a class="" href="{:Url('lord/system/banks')}">Thẻ ngân hàng rút tiền</a></li>-->
                    <li {if $actionname == 'recharge' || $actionname ==  'addrech' } class="active" {/if}><a class="" href="{:Url('lord/system/recharge')}">Cấu hình nạp tiền</a></li>
                    <!--<li {if $actionname == 'setwx' } class="active" {/if}><a class="" href="{:Url('lord/system/setwx')}">Cài đặt WeChat</a></li>
                    <li {if $actionname == 'dbbase' } class="active" {/if}><a class="" href="{:Url('lord/system/dbbase')}">Sao lưu dữ liệu</a></li>
                    <li {if $actionname == 'dbbase' } class="active" {/if}><a class="" href="{:Url('lord/system/online')}">Tư vấn trực tuyến</a></li>-->

                </ul>
            </li>
            {/if}
            
            <li {if $contrname == 'Chat' } class="active" {else /} class="sub-menu" {/if} style="position:relative">
                <a class="" href="{:Url('lord/chat/index')}">
                    <i class="icon-comment"></i>
                    <span>Chat cskh</span>
                    <div id="count-msg" data-num="0">0</div>
                    <style>#count-msg{position:absolute;background:red;color:#fff;border-radius:100%;width:15px;height:15px;display:flex;align-items:center;justify-content:center;font-size:11px;right:15px;top:15px}#count-msg[data-num="0"]{display:none}</style>
                </a>
            </li>

            <li>
                <a class="" href="{:Url('lord/login/logout')}">
                    <i class="icon-signout"></i>
                    <span>Đăng xuất</span>
                </a>
            </li>
        </ul>
        <!--Menu sidebar end-->
    </div>
</aside>
<!--sidebar end-->


