{include file="head" /}

{include file="menu" /}

<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              
              <div class="row state-overview">
              <form action="" method="get">
                <div class="container">
                <div class="row">
                      
                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Tên đăng nhập</span>
                            <input type="text" value="{$getdata.username?$getdata.username:''}"  class="form-control" name="username" placeholder="Biệt danh/Tên/Điện thoại/Số thứ tự"/>
                        </div>
                      </div>

                      <div class="col-lg-6 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Thời gian đóng cửa</span>
                            <input type="text"  id="datetimepicker" class="form-control" placeholder="Nhấp để chọn thời gian" name="starttime" value="{$getdata.starttime?$getdata.starttime:''}"/>
                            <span class="input-group-addon" id="basic-addon1">đến</span>
                            <input type="text"  id="datetimepicker_end" class="form-control" placeholder="Nhấp để chọn thời gian" name="endtime" value="{$getdata.endtime?$getdata.endtime:''}" />
                        </div>
                      </div>

                      

                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon">Khách hàng</span>
                            <select name="ploss" id="" class="selectpicker show-tick form-control">
                                <option value="">Không chọn mặc định</option>
                                <option {if isset($getdata['ploss']) && $getdata['ploss'] == 1} selected="selected" {/if} value="1">Lãi</option>
                                <option {if isset($getdata['ploss']) && $getdata['ploss'] == 2} selected="selected" {/if} value="2">Lỗ</option>
                                
                            </select>
                        </div>
                      </div>

                      
                  </div>
                  <div class="mar-10">
                   <input type="submit" class="btn btn-success" value="正常Tìm kiếm">
                  {if $_SESSION['otype'] == 3}
                   <input type="submit" name="doble" class="btn btn-success" value="搜索重复平仓订单">
                   {/if}
                  </div>
                </div>
                </form>
              </div>
              
              <!--state overview end-->
            
            <a href="{:url('order/orderlog')}"><button type="submit" class="btn btn-danger">Tìm kiếm tất cả</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br>
             <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Ghi chép đóng cửa
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th>
                                    Số thứ tự
                                </th>
                                <th>
                                    ID người dùng
                                </th>
                                {if $doble == 1}
                                <th>
                                    Tên đăng nhập
                                </th>
                                <th>
                                    Tên đăng nhập
                                </th>
                                {/if}
                                <th>
                                    ID Lệnh
                                </th>
                                <th>
                                    Tiền thêm vào
                                </th>
                                <th>
                                    Điểm thưởng thêm vào
                                </th>
                                <th>
                                    Số dư sau đóng cửa
                                </th>
                                <th>
                                    Thời gian
                                </th>

                            </tr>
                          </thead>
                          <tbody>
                          	<!-- {volist name="orderlog" id="vo"} -->
                              <tr>
                                  <td>{$vo.id}</td>
                                  <td>{$vo.uid}</td>
                                  {if $doble == 1}
                                  <td>{$vo.username?$vo.username:$vo.uid} </td>
                                  <td>{$vo.nickname?$vo.nickname:$vo.uid}  </td>
                                  {/if}
                                  <td>{$vo.oid}</td>
                                  <td>{$vo.addprice} </td>
                                  <td>{$vo.addpoint}</td>
                                  <td>{$vo.user_money}</td>
                                  <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                              </tr>
                             <!-- {/volist} -->

                              
                              
                              
                              </tbody>
                          </table>
                      </section>
                  </div>
              </div>
              {if $doble == 1}
             {$orderlog->render()}
             {/if}

          </section>
      </section>
      <!--main content end-->
  </section>


{include file="foot" /}
<script>

//Chọn thời gian
$('#datetimepicker').datetimepicker();
$('#datetimepicker_end').datetimepicker();



</script>