{include file="head" /}

{include file="menu" /}


<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              
            
          <div class="row">
                  <div class="col-sm-12">
                      <aside class="profile-info col-lg-10">
                      <section class="panel">
                          
                          <div class="panel-body bio-graph-info">
                              <h1> {$pid?'Chỉnh sửa sản phẩm':'Thêm sản phẩm'}</h1>
                              <form class="form-horizontal" role="form" id="formid" method="post">
                                  
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tên sản phẩm</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control" value="{$ptitle?$ptitle:''}"  placeholder="Vui lòng nhập Tên sản phẩm" name="ptitle">
                                      </div>
                                  </div>


                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Danh mục</label>
                                      <div class="col-lg-8">
                                          <select name="cid" class="selectpicker show-tick form-control">
                                          		<option value="0">Vui lòng chọn danh mục</option>
                                          		<!-- {volist name="proclass" id="vo"} -->
                                            	<option {if isset($cid) && $cid == $vo['pcid']} selected="selected" {/if} value="{$vo.pcid}">{$vo.pcname}</option>
                                              	<!-- {/volist} -->
                                          </select>
                                      </div>
                                  </div>

                                  
							
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Phạm vi biến động kiểm soát rủi ro</label>
                                      <div class="col-lg-8">
                                      		<div class="input-group">
					                            <span class="input-group-addon" id="basic-addon1">Giá trị tối thiểu</span>
					                            <input type="text" value="{$point_low?$point_low:''}" class="form-control" placeholder="Giá trị tối thiểu của phạm vi biến động kiểm soát rủi ro" name="point_low">
					                            <span class="input-group-addon" id="basic-addon1">Giá trị tối đa</span>
					                            <input type="text" value="{$point_top?$point_top:''}" class="form-control" placeholder="Giá trị tối đa của phạm vi biến động kiểm soát rủi ro" name="point_top">
					                        </div>
					                        
											<div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
				                                 <strong>Lưu ý: </strong> Khi Lệnh của khách hàng nằm trong phạm vi điều kiện, sẽ tự động trừ hoặc cộng giữa giá trị tối thiểu và tối đa của phạm vi. Nếu để trống hoặc bằng 0 sẽ không kích hoạt tính năng này.
				                            </div>
					                        
                                          
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Phạm vi biến động ngẫu nhiên</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control"  placeholder="Vui lòng nhập Phạm vi biến động ngẫu nhiên" name="rands" value="{$rands?$rands:''}">
                                          <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
				                                 <strong>Lưu ý: </strong> Sau khi lấy giá trị từ giao diện sản phẩm, sẽ thêm vào giá trị +- của phạm vi này. Ví dụ, nếu là 5, thì trong dữ liệu nhận được từ giao diện, sẽ thêm vào số ngẫu nhiên trong khoảng -5~5.
				                          </div>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Mã sản phẩm</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control" value="{$procode?$procode:''}"  placeholder="Vui lòng nhập Mã sản phẩm" name="procode">
                                      </div>
                                  </div>
<!-- 
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Giá trị tính bằng ngoại tệ ngoài tỷ giá</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control" value="{$add_data?$add_data:''}"  placeholder="Vui lòng nhập giá trị tính bằng ngoại tệ ngoài tỷ giá" name="add_data">
                                          <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                               <strong>Lưu ý: </strong> Giá trị tính bằng ngoại tệ ngoài tỷ giá, giá trị thời gian thực của sản phẩm = giá trị gốc của sản phẩm * tỷ giá * khác; Ở đây, bạn nên nhập "khác"; Tối đa bảy chữ số thập phân.
                                        </div>
                                      </div>
                                  </div> -->

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Khoảng thời gian chơi</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control" value="{$protime?$protime:''}"  placeholder="Vui lòng nhập Khoảng thời gian chơi" name="protime">
                                          <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                               <strong>Lưu ý: </strong> Ví dụ, nếu thời gian là 1 phút, 3 phút, 5 phút, 8 phút, vui lòng sử dụng dấu phẩy để phân tách thời gian, ví dụ: 1,3,5,8. Nếu không có chơi theo thời gian này, hãy để trống. Phải là bốn số.
                                        </div>
                                      </div>
                                  </div>

<!--                                   <div class="form-group">
                                      <label class="col-lg-2 control-label">Khoảng thời gian điểm</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control" value="{$propoint?$propoint:''}"  placeholder="Vui lòng nhập Tên sản phẩm" name="propoint">
                                          <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                               <strong>Lưu ý: </strong> Ví dụ, nếu điểm là 1 điểm, 3 điểm, 5 điểm, 8 điểm, vui lòng sử dụng dấu phẩy để phân tách điểm, ví dụ: 1,3,5,8. Nếu không có chơi theo điểm này, hãy để trống. Phải là bốn số.
                                        </div>
                                      </div>
                                  </div> -->

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tỷ lệ lợi nhuận</label>
                                      <div class="col-lg-8">
                                          <input type="text" class="form-control" value="{$proscale?$proscale:''}"  placeholder="Vui lòng nhập Tỷ lệ lợi nhuận" name="proscale">
                                          <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                               <strong>Lưu ý: </strong> Ví dụ, tỷ lệ lợi nhuận là 75%, 77%, 80%, 85%, vui lòng nhập dạng: 75,77,80,85. Tất cả đều phải có bốn số và không được để trống.
                                        </div>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Thời gian mở cửa thị trường</label>
                                      <div class="col-lg-8">
                                          <div class="input-group">
                                              <span class="input-group-addon" id="basic-addon1">Thứ hai</span>
                                              <input type="text" value="{$opentime[0]?$opentime[0]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[1]">
                                              <span class="input-group-addon" id="basic-addon1">Thứ ba</span>
                                              <input type="text" value="{$opentime[1]?$opentime[1]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[2]">
                                          </div>

                                          <div class="input-group">
                                              <span class="input-group-addon" id="basic-addon1">Thứ tư</span>
                                              <input type="text" value="{$opentime[2]?$opentime[2]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[3]">
                                              <span class="input-group-addon" id="basic-addon1">Thứ năm</span>
                                              <input type="text" value="{$opentime[3]?$opentime[3]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[4]">
                                          </div>

                                          <div class="input-group">
                                              <span class="input-group-addon" id="basic-addon1">Thứ sáu</span>
                                              <input type="text" value="{$opentime[4]?$opentime[4]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[5]">
                                              <span class="input-group-addon" id="basic-addon1">Thứ bảy</span>
                                              <input type="text" value="{$opentime[5]?$opentime[5]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[6]">
                                              <span class="input-group-addon" id="basic-addon1">Chủ nhật</span>
                                              <input type="text" value="{$opentime[6]?$opentime[6]:''}" class="form-control" placeholder="Ví dụ: 00:00~03:00|08:00~24:00" name="opentime[7]">
                                          </div>


                                  
                                    <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                         <strong>Lưu ý: </strong> Nếu thời gian mở cửa thị trường từ 00:00~18:00, hãy nhập 00:00~18:00. Nếu thời gian mở cửa thị trường từ 00:00~03:00 và 08:00~24:00, hãy nhập như sau: 00:00~03:00|08:00~24:00. Không sử dụng các ký tự tiếng Trung, nếu không mở cửa thị trường cả ngày, vui lòng để trống trường này. Thời gian phải nhập chính xác.
                                    </div>
                                  
                                          
                                      </div>
                                  </div>
                                  
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Ghi chú</label>
                                      <div class="col-lg-8">
                                          <textarea name="content" class="form-control" cols="30" rows="10">{$content?$content:''}</textarea>
                                      </div>
                                  </div>
								
								<input type="hidden" name="pid" value="{$pid?$pid:''}">
                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <input type="submit" class="btn btn-success" onclick="return editpro(this.form)" value="Gửi">
                                          
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </section>
                      
                  </aside>
                  </div>

          </div>       
          
          
             

          </section>
      </section>
      <!--main content end-->
  </section>


{include file="foot" /}
<script>

function editpro(form){

	var ptitle = form.ptitle.value;
	var cid = form.cid.value;
	var point_low = form.point_low.value;
	var point_top = form.point_top.value;
	var rands = form.rands.value;
  var procode = form.procode.value;
  var proscale = form.proscale.value;

	if(!ptitle){
		layer.msg('Vui lòng nhập Tên sản phẩm'); 
	    return false;
	}

	if(!cid || cid == 0){
		layer.msg('Vui lòng chọn danh mục'); 
	    return false;
	}



	if(point_low < 0 || isNaN(point_low) || point_top < 0 || isNaN(point_top) || rands < 0 || isNaN(rands)){
		layer.msg('Giá trị phạm vi kiểm soát rủi ro phải là số lớn hơn 0'); 
	    return false;
	}

	if(point_low > point_top ){
		layer.msg('Giá trị tối thiểu kiểm soát rủi ro phải nhỏ hơn giá trị tối đa'); 
	    return false;
	}

  if(!procode ){
    layer.msg('Vui lòng nhập Mã sản phẩm！'); 
      return false;
  }

  if(!proscale ){
    layer.msg('Vui lòng nhập Tỷ lệ lợi nhuận！'); 
      return false;
  }




	var formurl = "{:Url('goods/proadd')}"
    var data = $('#formid').serialize();
    var locurl = "{:Url('lord/goods/prolist')}";

    WPpost(formurl,data,locurl);




	return false;

}


</script>