
{include file="head" /}
<style>
.white-bg{
  background: #000;
  border-bottom:#000;
}
a.logo{
  color:#fff
}
.admin_logo{
      text-align: center;
    padding-top: 120px;
    margin-bottom: -90px;
}
.admin_logo img{
  height: 150px
}

</style>
<body class="login-body">

<div class="container" >
    <form class="form-signin" action="" method="post" id="formid">
        <h2 class="form-signin-heading">Đăng nhập trang quản trị</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" value="{$rememberme}">
            <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
            <label class="checkbox">
                <input type="checkbox" value="1" name="rememberme"> Ghi nhớ đăng nhập
            </label>
            <input type="submit" onclick="return check_admin_login(this.form)" class="btn btn-lg btn-login btn-block" value="Đăng nhập" />
        </div>
    </form>
</div>


{include file="foot" /}

<script>
function check_admin_login(form) {
    var username = form.username.value;
    var password = form.password.value;
    if (!username) {
        layer.msg('Vui lòng nhập Tên đăng nhập');
        return false;
    }

    if (!password) {
        layer.msg('Vui lòng nhập mật khẩu');
        return false;
    }

    var formurl = "{:Url('lord/login/login')}";
    var data = $('#formid').serialize();
    $.post(formurl, data, function(data) {
        if (data.type == 1) {
            layer.msg(data.data, {icon: 1, time: 1000}, function() {
                window.location.href = "{:Url('lord/index/index')}";
            });
        } else if (data.type == -1) {
            layer.msg(data.data, {icon: 2});
        }
    });

    return false;
}
</script>