{include file="head" /}

{include file="menu" /}


<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              
              <div class="row state-overview">
                <div class="container">
                <div class="row">
                      <form action="" method="get">
                            {if $otype == 3}
                                         <div class="col-lg-3 mar-10">
                                          <div class="input-group">
                                              <span class="input-group-addon" id="basic-addon1">
                                                <select name="stype" id="">
                                                  <option {if isset($getdata.stype) && $getdata.stype == 1} selected="selected" {/if} value="1">Lợi nhuận</option>
                                                  <option {if isset($getdata.stype) && $getdata.stype == 2} selected="selected" {/if}  value="2">Đại lý</option>
                                                </select>
                                              </span>
                                              <input type="text" value="{$getdata.username?$getdata.username:''}"  class="form-control" name="username" />
                                          </div>
                                        </div>
                             {else/}
								   <input type="hidden" value="{$getdata.username?$getdata.username:''}"  class="form-control" name="username" />
                             {/if}
                      <div class="col-lg-6 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Thời gian đặt lệnh</span>
                            <input type="text"  id="datetimepicker" class="form-control" placeholder="Nhấp để chọn thời gian" name="starttime" value="{$getdata.starttime?$getdata.starttime:''}"/>
                            <span class="input-group-addon" id="basic-addon1">đến</span>
                            <input type="text"  id="datetimepicker_end" class="form-control" placeholder="Nhấp để chọn thời gian" name="endtime" value="{$getdata.endtime?$getdata.endtime:''}" />
                        </div>
                      </div>

                      

                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon">Loại</span>
                            <select name="bptype"  class="selectpicker show-tick form-control">
                                <option value="">Không chọn mặc định</option>
                                <option {if isset($getdata['bptype']) && $getdata['bptype'] == 1} selected="selected" {/if} value="1">Người dùng nạp tiền</option>
                                <option {if isset($getdata['bptype']) && $getdata['bptype'] == 2} selected="selected" {/if} value="2">Nạp tiền từ trang quản trị</option>
                            </select>
                        </div>
                      </div>

                      
                  </div>
                  <div class="mar-10">
                   <input type="submit" class="btn btn-success" value="Tìm kiếm">
                  </div>

                  </form>
                </div>
                
              </div>
              
              <!--state overview end-->
            <a href="{:url('user/userprice',array('bptype'=>1))}"><button type="submit" class="btn btn-success">Lịch sử nạp tiền</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userprice',array('bptype'=>0))}"><button type="submit" class="btn btn-success">Lịch sử rút tiền</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userprice')}"><button type="submit" class="btn btn-danger">Tìm kiếm tất cả</button></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;"><button type="submit" class="btn btn-danger">Tổng số tiền nạp: {$all_bpprice}</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            
            <br><br>
             <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Nạp tiền và Rút tiền
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th>STT</th>
                                <th>Tài khoản giao dịch</th>
                                <th>Tên giao dịch</th>
                                <th>Thời gian hoạt động</th>
                                <th>Số tiền</th>
                                <th>Số dư tài khoản thành viên</th>
                                <th>Ghi chú</th>
                                <th>Thời gian kiểm tra</td>
                                <th>Kiểm tra / Trạng thái</td>
                            </tr>
                          </thead>
                          <tbody>
                          <!-- {volist name="balance" id="vo"} -->
                              <tr>
                                  <td>{$vo.bpid}</td>
                                  <td>{$vo.username}</td>
                                  <td>{$vo.nickname} </td>
                                  <td>{$vo.bptime|date="Y-m-d H:i:s",###} </td>
                                  <td class="color_red">${$vo.bpprice}</td>
                                  <td class="color_red">{$vo.bpbalance}</td>
                                  <td>{$vo.remarks}</td>
                                  <td>{$vo.cltime|date="Y-m-d H:i:s",###} </td>
                                 
                                  
                                  <td>{if $vo.bptype == 1}
                                        Không xác định hoạt động
                                      {elseif $vo.bptype == 2 && $vo.isverified == 0 && $otype == 3/}
                                      <button class="btn btn-primary btn-xs price" data-toggle="modal" data-bpid="{$vo.bpid}" data-userid="{$vo.uid}" data-target="#myModal">Xử lý / Từ chối</button>
                                      {elseif $vo.bptype == 2 && $vo.isverified == 2/}
                                      	<span class="color_red">Đã từ chối</span>
                                      {elseif $vo.bptype == 3 && $vo.isverified == 0/}
										 <span class="color_red">Yêu cầu nạp tiền</span>
                                      {else/}
										 <span class="color_green">Đã thông qua</span>
                                      {/if}

                                  </td>
                              </tr>
							<!-- {/volist} -->
                             
                              </tbody>
                          </table>
                      </section>
                  
              
                      {$balance->render()}
                </div>
              </div>
          </section>
      </section>
      <!--main content end-->
  </section>


  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:200px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #B50000;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Người dùng nạp tiền</h4>
      </div>
      <div class="modal-body">
        <div class="priceinfo color_red"></div><br>
        <div class="input-group">
            <span class="input-group-addon " id="basic-addon1">Vui lòng nhập mật khẩu quản trị viên</span>
            <input type="password" value="" class="form-control" id="adminpwd">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default jujue" data-dismiss="modal">Từ chối</button>
        <button type="button" class="btn btn-primary dopay">Đồng ý</button>
      </div>
    </div>
  </div>
</div>

{include file="foot" /}
<script>
var userid = '';
var bpid = '';
var adminpwd = '';
var tongyi =4;
var jujue =2;
	$(".price").click(function(){
      userid = $(this).attr('data-userid');
      bpid = $(this).attr('data-bpid');
      $('.priceinfo').html('Xác nhận xử lý nạp tiền này? Khi xác nhận, số tiền tương ứng sẽ được nạp vào tài khoản cá nhân. Bạn có chắc chắn muốn thực hiện điều này?');

    });
    
    $('.jujue').click(function(){
    	
    	var formurl = "{:Url('user/dochongzhi')}";
    	var data = 'uid='+userid+'&bpid='+bpid+'&adminpwd='+adminpwd+'&isverified='+jujue;
	    var locurl = "{:Url('user/userprice')}";

	    WPpost(formurl,data,locurl);
    });

    $('.dopay').click(function(){
    	adminpwd = $('#adminpwd').val();
    	if(!adminpwd){
    		layer.msg('Vui lòng nhập mật khẩu quản trị viên'); 
    		return false;
    	}
    	var formurl = "{:Url('user/dochongzhi')}";
    	var data = 'uid='+userid+'&bpid='+bpid+'&adminpwd='+adminpwd+'&isverified='+tongyi;
	    var locurl = "{:Url('user/userprice')}";

	    WPpost(formurl,data,locurl);
    });


//Chọn thời gian
$('#datetimepicker').datetimepicker();
$('#datetimepicker_end').datetimepicker();
</script>