{include file="head" /}

{include file="menu" /}


<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              
              <div class="row state-overview">
                <div class="container">
                <div class="row">
                      <form action="" method="get">
                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Tên đăng nhập</span>
                            <input type="text" value="{$getdata.username?$getdata.username:''}"  class="form-control" name="username" />
                        </div>
                      </div>

                     <div class="col-lg-6 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Thời gian gửi</span>
                            <input type="text"  id="datetimepicker" class="form-control" placeholder="Nhấp để chọn thời gian" name="starttime" value="{$getdata.starttime?$getdata.starttime:''}"/>
                            <span class="input-group-addon" id="basic-addon1">đến</span>
                            <input type="text"  id="datetimepicker_end" class="form-control" placeholder="Nhấp để chọn thời gian" name="endtime" value="{$getdata.endtime?$getdata.endtime:''}" />
                        </div>
                      </div>

                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon">Loại</span>
                            <select name="is_check" id="" class="selectpicker show-tick form-control">
                                <option value="">Tất cả</option>
                                <option value="0">Chưa kiểm tra</option>
                                <option value="1">Đã kiểm tra và chấp thuận</option>
                                <option value="2">Đã kiểm tra và không chấp thuận</option>
                            </select>
                        </div>
                      </div>

                    <div class="col-lg-1 mar-10">
                        <input type="submit" class="btn btn-success" value="Tìm kiếm">
                      </div>
					</form>
                </div>
                
              </div>
              </div>
              <!--state overview end-->
            <br><br>
            <a href="{:url('user/userinfo')}"><button type="submit" class="btn btn-danger">Tất cả</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userinfo',array('is_check'=>0))}"><button type="submit" class="btn btn-danger">Chưa kiểm tra（2）</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userinfo',array('is_check'=>1))}"><button type="submit" class="btn btn-danger">Đã kiểm tra và chấp thuận</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{:url('user/userinfo',array('is_check'=>2))}"><button type="submit" class="btn btn-danger">Đã kiểm tra và không chấp thuận</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:;"><button type="submit" class="btn btn-danger">Xuất bản</button></a>
            <br><br>
             <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Danh sách người dùng
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th>STT</th>
                                <th>Tài khoản giao dịch</th>
                                <th>Họ và tên</th>
                                <th>Ảnh đại diện WeChat</th>
                                <th>Số CMND</th>
                                <th>Ảnh mặt trước CMND</th>
                                <th>WeChat ID</th>
                                <th>Số điện thoại</th>
                                <th>Thời gian gửi</th>
                                <th>Thao tác</th>
                            </tr>
                          </thead>
                          <tbody>
                          <!-- {volist name="cardinfo" id="vo"} -->
                              <tr>
                                  <td>{$vo.cid}</td>
                                  <td>{$vo.username}</td>
                                  <td>{$vo.cardname} </td>
                                  <td><img class="userpic" alt="" src="{$vo.portrait}"></td>
                                  <td>{$vo.cardnum}</td>
                                  <td><img style="height:100px" alt="" src="{$vo.cardpic?$vo.cardpic:$vo.portrait}"></td>
                                  <td>{$vo.wxnumber}</td>
                                  <td>{$vo.utel} </td>
                                  <td>{$vo.ctime|date="Y-m-d H:i:s",###}</td>
                                  <td>
                                      {if $vo.is_check == 0}
                                      <button class="btn btn-primary btn-xs" onclick="return checkcard('{$vo.cid}',1)">Chấp thuận</button>
                                      <button class="btn btn-danger btn-xs" onclick="return checkcard('{$vo.cid}',2)">Không chấp thuận</button>
                                      {elseif $vo.is_check == 1/}
                                      <span class="color_green">Đã kiểm tra và chấp thuận</span>
                                      {elseif $vo.is_check == 2/}
                                      <span class="color_red">Đã kiểm tra và không chấp thuận</span>
                                      {/if}
                                  </td>
                              </tr>
                              <!-- {/volist} -->
                              

                              

                              
                              
                              
                              </tbody>
                          </table>
                      </section>
                  </div>
              </div>
              
             {$cardinfo->render()}

          </section>
      </section>
      <!--main content end-->
  </section>


{include file="foot" /}
<script>

function checkcard(cid,type) {
	if(!cid || !type){
		layer.msg('Tham số không hợp lệ'); 
    	return false;
	}

	if(type == 1){
		var con = 'Xác nhận đã kiểm tra và chấp thuận?';
	}else{
		var con = 'Xác nhận đã kiểm tra và không chấp thuận?';
	}

	layer.open({
	  content: con,
	  yes: function(index){
	    //do something
	    var formurl = "{:Url('user/userinfo')}";
		var data = 'cid='+cid+'&is_check='+type;
	    var locurl = "{:Url('user/userinfo')}";

	    WPpost(formurl,data,locurl);
	  }
	});

	


}


//Chọn thời gian
$('#datetimepicker').datetimepicker();
$('#datetimepicker_end').datetimepicker();

</script>