{include file="head" /}

{include file="menu" /}

   <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-8">
                      <!--widget start-->
                      <aside class="profile-nav alt green-border">
                          <section class="panel">
                              
                          {if $bank}
                              <div class="panel-body bio-graph-info" id="bankInfo">
                              
                              <div class="form-horizontal">
                                  
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">ID người dùng：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.uid}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tên chủ tài khoản：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.accntnm}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tỉnh：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{:getarea($bank['provinceid'])}  {:getarea($bank['cityno'])}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Địa chỉ chi tiết：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.address}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tên ngân hàng：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.bank_nm}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Số điện thoại dự trữ：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.phone}</p>
                                      </div>
                                  </div>
									<hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Số tài khoản ngân hàng：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.accntno}</p>
                                      </div>
                                  </div>
                  <hr>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Số CMND：</label>
                                      <div class="col-lg-6">
                                          <p class="control-label">{$bank.scard}</p>
                                      </div>
                                  </div>
									<hr>
                                  
                                <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <input type="submit" value="Chỉnh sửa"  onclick="showEdit()" class="btn btn-success">
                                          <input type="submit" value="Xóa"  onclick="del()" class="btn btn-danger">
                                      </div>
                                  </div>
                                  
                              </div>



                          </div>
                          
                          
                          <div class="panel-body bio-graph-info" id="editBank" style="display: none">

                                  <div class="form-horizontal">

                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">ID người dùng：</label>
                                          <div class="col-lg-6">
                                              <p class="control-label id">{$bank.id}</p>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Tên chủ tài khoản：</label>
                                          <div class="col-lg-6">
                                              <p class="control-label accntnm" >{$bank.accntnm}</p>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Tỉnh：</label>
                                          <div class="col-lg-6">
                                              <select id="province" class="province" name="province" style="">
                                                  <option value="">Vui lòng chọn</option>
                                                  {volist name="province" id="vo"}

                                                  <option  value="{$vo.id}" {if isset($bank) && $bank['provinceid'] == $vo['id']} selected="selected" {/if} >{$vo.name}</option>

                                                  {/volist}

                                              </select>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Thành phố：</label>
                                          <div class="col-lg-6">
                                              <select id="city" name="cityno" class="city">
                                                  {if isset($bank)}
                                                  <option value="{$bank.cityno}">{:getarea($bank['cityno'])}</option>
                                                  {else/}
                                                  <option value="">Vui lòng chọn</option>
                                                  {/if}
                                              </select>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Địa chỉ chi tiết：</label>
                                          <div class="col-lg-6">
                                              <input type="text" placeholder="Địa chỉ chi nhánh" name="address" class="address" value="{$bank.address}">
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Tên ngân hàng：</label>
                                          <div class="col-lg-6">
                                              <select name="bankno" class=" bankno">

                                                  {volist name="banks" id="vo"}

                                                  <option label="{$vo.bank_nm}" value="{$vo.id}" {if isset($bank) && $bank['bankno'] == $vo['id']} selected="selected" {/if} >{$vo.bank_nm}</option>

                                                  {/volist}
                                              </select>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Số điện thoại dự trữ：</label>
                                          <div class="col-lg-6">
                                              <input type="text" placeholder="Số điện thoại dự trữ" name="phone"  class="phone" value="{:isset($bank)?$bank.phone:''}">
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Số tài khoản ngân hàng：</label>
                                          <div class="col-lg-6">
                                              <input type="text" placeholder="Số tài khoản ngân hàng" name="accntno" class="accntno" value="{:isset($bank)?$bank.accntno:''}">
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="form-group">
                                          <label class="col-lg-2 control-label">Số CMND：</label>
                                          <div class="col-lg-6">
                                              <input type="text" placeholder="Số CMND" name="scard" class=" scard" value="{:isset($bank)?$bank.scard:''}">
                                          </div>
                                      </div>
                                      <hr>

                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <input type="submit" value="Gửi"  onclick="update_user()" class="btn btn-success">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        {else/}
                        <div class="row">
                            <div class="col-lg-12">
                              <div class="noorder">
                                Không có dữ liệu
                              </div>
                            </div>
                          </div>
                        {/if}

                          </section>
                      </aside>
                      <!--widget end-->
                      
                  </div>
                 </div> 
              
                 
              
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>
    $('#province').change(function(){
        var pid = $(this).val();
        if(pid != ''){
            var url = "{:url('getarea')}"+"?id="+pid;
            $.get(url,function(data){
                $("#city").html(data);
            });
        }else{
            $("#city").html('<option value="">Vui lòng chọn thành phố</option>');
        }


    });

    function showEdit() {
        $('#bankInfo').hide();
        $('#editBank').show();
    }

    function update_user() {

        var bankno = $('.bankno').val();
        var province = $('.province').val();
        var city = $('.city').val();
        var address = $('.address').val();
        var accntnm = $('.accntnm').text();
        var accntno = $('.accntno').val();
        var scard = $('.scard').val();
        var phone = $('.phone').val();
        var id = $('.id').text();


        if(!bankno){layer.msg('Vui lòng chọn ngân hàng');return false;}
        if(!province){layer.msg('Vui lòng chọnTỉnh');return false;}
        if(!city){layer.msg('Vui lòng chọn thành phố');return false;}
        if(!address){layer.msg('Vui lòng nhập Địa chỉ chi nhánh');return false;}
        if(!accntnm){layer.msg('Vui lòng nhập tên chủ tài khoản');return false;}
        if(!accntno){layer.msg('Vui lòng nhập số tài khoản');return false;}
        if(!scard){layer.msg('Vui lòng nhập số CMND');return false;}
        if(!phone){layer.msg('Vui lòng nhập số điện thoại');return false;}


        var postdata = 'bankno='+bankno+"&provinceid="+province+"&cityno="+city+"&address="+address+"&accntnm="+accntnm+"&accntno="+accntno+"&scard="+scard+"&phone="+phone;
        if(id){
            postdata += "&id="+id
        }
        var posturl = "/lord/user/dobanks";
        $.post(posturl,postdata,function(resdata){
            layer.msg(resdata.data);

            if(resdata.type == 1){
                setTimeout('gourl()',1000);
            }

        })


    }


    function gourl() {

        history.go(0);
    }
    
    function del() {
		var id = $('.id').text();
	  layer.open({
	    content: 'Bạn chắc chắn muốn xóa? Hành động này không thể khôi phục lại, vui lòng cân nhắc thật kỹ!',
	    yes: function(index){
	      //do something
	      var formurl = "{:Url('/lord/user/delQianyue')}";
	      var data = 'id='+id;
	
	      $.post(formurl,data,function(resdata){
	        layer.msg(resdata.data);
	        if(resdata.type == 1){
	          history.go(0);
	        }
	      })
	
	      
	    }
	  });


	}


</script>