{include file="head" /}

{include file="menu" /}

<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              
            
          <div class="row">
                  <div class="col-sm-12">
                      <aside class="profile-info col-lg-9">
                      <section class="panel">
                          
                          <div class="panel-body bio-graph-info">
                              <h1> {$isedit?'Chỉnh sửa đại lý':'Thêm đại lý'}</h1>
                              <form class="form-horizontal" role="form" action="" method="post" id="formid">
                                  
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tên đại lý</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="{$username?$username:''}" name="username" {if isset($isedit) && $isedit == 1} disabled="true"  {/if}>（Tên đăng nhập）
                                      </div>
                                  </div>
                
                                {if isset($isedit) && $isedit == 1}
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Trạng thái</label>
                                      <div class="col-lg-6">
                                          <select name="ustatus" class="selectpicker show-tick form-control">
                                              <option {if isset($ustatus) && $ustatus == 0} selected="selected" {/if} value="1">Bình thường</option>
                                              <option {if isset($ustatus) && $ustatus == 1} selected="selected" {/if} value="2">Đã đóng băng</option>
                                          </select>
                                      </div>
                                  </div>
                                {/if}
                                  
                                  
                                  {if isset($isedit) && $isedit == 1}
                                  
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Số dư</label>
                                      <div class="col-lg-6">
                                          {if $_SESSION['otype'] == 3}
                                          <input type="text" class="form-control"  value="{$usermoney?$usermoney:'0'}" name="usermoney" {if isset($isedit) && $isedit != 1} disabled="true"  {/if}>
                                          {else/}
                                            <p class="form-control" disabled="true">{$usermoney?$usermoney:'0'}</p>
                                          {/if}
                                      </div>
                                  </div>
                                  {else/}
                                  
                                  
                                  {/if}
                                  

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Số điện thoại</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="{$utel?$utel:''}" name="utel">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Họ và tên</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="{$nickname?$nickname:''}" name="nickname">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Cấp bậc thành viên</label>
                                      <div class="col-lg-6">
                                          <select name="level" class="selectpicker show-tick form-control">
                                              <option {if isset($level) && $level == 1} selected="selected" {/if} value="1">Thành viên thông thường</option>
                                              <option {if isset($level) && $level == 2} selected="selected" {/if} value="2">Thành viên bạc</option>
                                              <option {if isset($level) && $level == 3} selected="selected" {/if} value="3">Thành viên vàng</option>
                                              <option {if isset($level) && $level == 4} selected="selected" {/if} value="4">Thành viên bạch kim</option>
                                              <option {if isset($level) && $level == 5} selected="selected" {/if} value="5">Thành viên vàng kim</option>
                                              <option {if isset($level) && $level == 6} selected="selected" {/if} value="6">Thành viên kim cương</option>
                                              <option {if isset($level) && $level == 7} selected="selected" {/if} value="7">Thành viên kim cương đen</option>
                                          </select>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Lãi suất ngân hàng</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="{$lixibao_lv?$lixibao_lv:''}" name="lixibao_lv">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tỷ lệ thưởng</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"   value="{$rebate?$rebate:''}" {if !isset($uid) || $_SESSION['userid'] != $uid} name="rebate" {else} disabled="true" {/if}>
                                          
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tỷ lệ hoa hồng</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="{$feerebate?$feerebate:''}" {if !isset($uid) || $_SESSION['userid'] != $uid} name="feerebate" {else} disabled="true" {/if}>
                                          
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Tiền đặt cọc</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="{$minprice?$minprice:''}" name="minprice">
                                          <div class="alert alert-block alert-danger fade in" style="margin:10px 0 0 0 ">
                                         <strong>Chú thích: </strong> Phải nạp tiền hơn số tiền đặt cọc này mới có thể rút tiền.
                                    </div>
                                      </div>
                                  </div>


                {if isset($isedit) && $isedit == 1}

                                  <input type="hidden" class="form-control"  value="{$uid?$uid:''}" name="uid">
                {else/}
                <input type="hidden" class="form-control"  value="" name="ordpwd">
                {/if}
                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Mật khẩu</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="" name="upwd">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-2 control-label">Xác nhận mật khẩu</label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control"  value="" name="upwd2">
                                      </div>
                                  </div>
                                  
                
                                  
                                  
                                  
                                  

                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <button type="submit" class="btn btn-success" onclick="return edituser(this.form)" >Gửi</button>
                                          
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </section>
                      
                  </aside>
                  </div>

          </div>       
          
          
             

          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>
var c_otype = '';
var type = "{$isedit}";

$('.selectotype').change(function(argument) {
  c_otype = $(this).val();
  if(c_otype == 4){
    $('.choosejl').show();
  }else{
    $('.choosejl').hide();
  }
});
  function edituser(form){
    
    var utel = form.utel.value;
    var nickname = form.nickname.value;
    var username = form.username.value;
    var upwd = form.upwd.value;
    var upwd2 = form.upwd2.value;
    // var adminpwd = form.adminpwd.value;
    //var ordpwd = form.ordpwd.value;
    // var otype = form.otype.value;
    // var oid = form.oid.value;

    
    if(!username){layer.msg('Vui lòng nhập Tên đăng nhập'); return false;}
    
    if(type == 0){
      var formurl = "{:Url('user/vipuseradd')}";
      if(!utel){layer.msg('Vui lòng nhập số điện thoại'); return false;}
    }else{
      var formurl = "{:Url('user/vipuseredit')}";
    }

    if(!nickname){layer.msg('Vui lòng nhập Họ và tên'); return false;}
    
    if(type == 0 || (type == 1 && upwd)){ 
      if(!upwd){layer.msg('Vui lòng nhập Mật khẩu'); return false;}
      if(upwd.length < 6){layer.msg('Mật khẩu phải có ít nhất 6 ký tự'); return false;}
      if(!upwd2){layer.msg('Vui lòng xác nhận mật khẩu'); return false;}
      if(upwd !== upwd2){layer.msg('Hai lần nhập mật khẩu không giống nhau'); return false;}
    }
    

      
      var data = $('#formid').serialize();
      var locurl = "{:Url('user/userlist')}";

      WPpost(formurl,data,locurl);

      return false;
  }



</script>