{include file="head" /}

{include file="menu" /}


<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              
              <div class="row state-overview">
                <div class="container">
                <div class="row">
                      <form action="" method="get">
                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">ID người dùng：</span>
                            <input type="text" value="{:input('uid')}"  class="form-control" name="uid" />
                        </div>
                      </div>

                      <div class="mar-10">
                   <input type="submit" class="btn btn-success" value="Tìm kiếm">
                  </div>
                      
                  </div>
                  

                  </form>
                </div>
                
              </div>
              
             
            <br><br>
             <div class="row">
             <div class="col-lg-3 mar-10">
             </div>
             {if isset($uid)}
              <div class="col-lg-9">
                <p>Loại tài khoản: {if $user.otype == 0}Khách hàng{else}Đại lý{/if}</p>
                <p>Số dư tài khoản：{$user.usermoney}</p>
                <p>Số tiền nạp vào：{$data.rujin}</p>
                <p>Số tiền đã rút ra：{$data.chujin}</p>
                <p>Số tiền rút đang chờ duyệt：{$data.chujin_sq}</p>
                <p>Phí giao dịch：{$data.shouxu}</p>
                <p>Lãi lỗ giao dịch：{$data.yingkui}</p>
                <p>Tiền thưởng đã nhận：{$data.hongli}</p>
                <p>Phí giao dịch tiền thưởng：{$data.shouxushouyi}</p>
              </div>
              {/if}
             </div>
          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}

<script>  


//Chọn thời gian
$('#datetimepicker').datetimepicker();
$('#datetimepicker_end').datetimepicker();


</script>