{include file="head" /}

{include file="menu" /}
<!--main content start-->
      <section id="main-content">
          <section class="wrapper">

            
          <div class="row">
                  <div class="col-sm-12">
                      <section class="panel">
                          <header class="panel-heading">
                              <h4 class="left">Quản lý cấu hình nạp tiền (Không khuyến khích cho người không có kỹ thuật sửa đổi)</h4> 
                              <a href="{:url('addrech')}"><span class="btn right btn-primary">Thêm cấu hình nạp tiền+</span></a>
                              <br><br>
                          </header>
                          <table class="table">
                              <thead>
                              <tr>
                                  <th>STT</th>
                                  <th>Tên</th>
                                  <th>Sử dụng</th>
                                  <th>Hôm nay</th>
                                  <th>Tên ngân hàng</th>
                                  <th>Họ và tên</th>
                                  <th>Số thẻ</th>
                                  <th>Mã QR</th>
                                  <th>Thời gian hoạt động</th>
                                  <th>Thao tác</th>
                              </tr>
                              </thead>
                              <tbody>
                              {volist name="payment" id="vo"}
                              <tr>
                                  <td>{$vo.id}</td>
                                  <td>{$vo.pay_name}</td>
                                  <td>{$vo.is_use}</td>
                                  <td>{$vo.pay_point}%</td>
                                  <td>{$vo.bankname}</td>
                                  <td>{$vo.bankuser}</td>
                                  <td>{$vo.card}</td>
                                  <td>{neq name="$vo.qrcode" value=''}
                                    <img src="{$vo.qrcode}" width="50" />
                                  {/neq}</td>
                                  <td>{$vo.dotime}</td>
                                  <td> 
                                      <a href="{:url('addrech',array('id'=>$vo['id']))}"><button class="btn btn-primary btn-xs" ><i class="icon-pencil"></i></button></a>
                                      <button class="btn btn-danger btn-xs" onclick="deletepay({$vo.id})"><i class="icon-trash "></i></button>
                                  </td>
                                  
                              </tr>
                              {/volist}
                              </tbody>
                          </table>
                      </section>
                  </div>
          </div>       
          
          
             

          </section>
      </section>
      <!--main content end-->
  </section>
{include file="foot" /}
<script>


   function deletepay(id){
    layer.open({
      content: 'Chắc chắn muốn xóa ?',
      yes: function(index){
        //do something
        var url = "{:url('deletepay')}"+"?id="+id;
        
        $.get(url,function(data){
          if (data.type == 1) {
              layer.msg(data.data, {icon: 1,time: 1000},function(){
                window.location.href="{:Url('recharge')}";
              }); 

            }else if(data.type == -1){
              layer.msg(data.data, {icon: 2}); 
            }
        });
      }
    });
  }
</script>
