{include file="head" /}

{include file="menu" /}
<!--main content start-->
      <section id="main-content">
          <section class="wrapper">

            
          <div class="row">
                  <div class="col-sm-12">
                      <section class="panel">
                          <header class="panel-heading">
                              <h4 class="left">Tỷ lệ quản lý lợi nhuận (nhân viên không có kỹ thuật được khuyên không nên sửa đổi)</h4> 
                              <a href="{:url('addproscale')}"><span class="btn right btn-primary">Thêm cấu hình tỷ lệ lợi nhuận+</span></a>
                              <br><br>
                          </header>
                          <table class="table">
                              <thead>
                              <tr>
                                  <th>STT</th>
                                  <th>Thời gian bắt đầu</th>
                                  <th>Thời gian kết thúc</th>
                                  <th>Tỷ lệ lợi nhuận</th>
                                  <th>Thao tác</th>
                              </tr>
                              </thead>
                              <tbody>
                              {volist name="rs" id="vo"}
                              <tr>
                                  <td>{$vo.id}</td>
                                  <td>{$vo.start_time}</td>
                                  <td>{$vo.end_time}</td>
                                  <td>{$vo.proscale}</td>
                                  <td> 
                                      <a href="{:url('addproscale',array('id'=>$vo['id']))}"><button class="btn btn-primary btn-xs" ><i class="icon-pencil"></i></button></a>
                                      <button class="btn btn-danger btn-xs" onclick="deletepay({$vo.id})"><i class="icon-trash "></i></button>
                                  </td>
                                  
                              </tr>
                              {/volist}
                              </tbody>
                          </table>
                      </section>
                  </div>
          </div>       
          
          
             

          </section>
      </section>
      <!--main content end-->
  </section>
{include file="foot" /}
<script>


   function deletepay(id){
    layer.open({
      content: 'Chắc chắn muốn xóa ?',
      yes: function(index){
        //do something
        var url = "{:url('deleteproscale')}"+"?id="+id;
        
        $.get(url,function(data){
          if (data.type == 1) {
              layer.msg(data.data, {icon: 1,time: 1000},function(){
                window.location.href="{:Url('proscale')}";
              }); 

            }else if(data.type == -1){
              layer.msg(data.data, {icon: 2}); 
            }
        });
      }
    });
  }
</script>
